.talks-text-record-item{
    width: 100%;
    box-sizing: border-box;
}
.talks-text-record-item .divider1 {

    height: 2rpx;
    background-color: #ebebeb;

}

.talks-text-record-item .title {
    font-size: 16px;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 24px;
    margin-bottom: 13px;
}

.talks-text-record-item .input {
    background-color: #f7f7f7;
    border:1px solid #d8d8d8;
    padding: 10px;
    font-size: 16px;
    height: 240rpx;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;
    width: auto;
}