@import '../../base';
.detail-info {
  background-color: #fff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  image {
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .title {
    margin-top: 24px;
    text-align:  center;
    font-size: 20px;
    line-height: 26px;
  }
  .name {
    font-size: 14px;
    margin-top: 30px;
  }
  .tags {
    margin-top: 6px;
    text-align:  center;
    .info {
      font-size: 14px;
      margin-top: 6px;
    }
    .container2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .divider1 {
      width: 12px;
      height: 2px;
      background-color: #2fbd83;
      margin-top: 24px;
    }
  }

  .description {
    margin-top: 17px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .container1 {
    font-size: 14px;
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .button {
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    view{
      background-color: #2fbd83;
      border-radius: 5px;
      &.locked{
        background-color:$base-gray;
      }
      &.unlocked-free{
        background-color: $base-blue;
      }
    }
  }
}

.audio-list {
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  .title {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 24px;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    margin: 20px;
    .avatar {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    .audio {
      border-radius: 0px 80px 80px 80px;
      height: 36px;
    }
  }
  .divider1 {
    background-color: #e8e8e8;
    width: 100%;
    height: 1px;
  }
  .audio-length {
    font-size: 14px;
    /*text-align: center;*/
    line-height: 36px;
    margin-left: 10px;
  }
}



.comment-list {
  background-color: #fff;
  width: 100%;
  margin-top: 10px;
  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .avatar {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      margin-top: 20px;
      border-radius: 50%;
    }
    .container1 {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      flex: 1;
      margin-right: 20px;
      .name {
        font-size: 14px;
        line-height: 16px;
        margin-top: 27px;
      }
      .content {
        font-size: 16px;
        margin-top: 10px;
        line-height: 24px;
      }
      .qrcode {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
      }
    }
    .container2 {
      background: #f6f6f6;
      width: 100%;
      border-color: #d8d8d8;
      border-width: 1px;
      border-style: solid;
      margin-top: 5px;
      padding: 13px;
      box-sizing: border-box;
      .name2 {
        font-size: 14px;
        line-height: 16px;
        display: block;
      }
      .content2 {
        font-size: 16px;
        margin-top: 10px;
        line-height: 24px;
      }
    }
  }
  .divider1 {
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color: #e8e8e8;
  }
}

.detail-bottom-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120rpx;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  align-items: center;
  .all {
    flex: 1;
    height: 120rpx;
    line-height: 120rpx;
  }
  .comment {
    flex: 1;
    color: #fff;
    height: 120rpx;
    line-height: 120rpx;
    background-color: $base-green;
  }
}
