/**index.wxss**/
@import '../common/item/item.wxss';

.talks-tab {
    width: 100%;
    height: 98rpx;
    background-color: #fff;
    /*position:fixed;*/
    display: flex;
    flex-direction: row;
    opacity: .9;
    justify-content: flex-start;
}

.talks-tab .container1 {
    display: inherit;
    flex: 1;
}

.talks-tab .title {
    font-size: 32rpx;
    line-height: 98rpx;
    display: inline-block;
}
.banner {
    width: 750rpx;
    height: 315rpx;
}

.talks-scrollview {
    display: flex;
    flex: 1;
    width:100%;
}

.talks-tab .item {
    padding-left: 20px;
}


.talks-tab .icon {
    padding-top: 30rpx;
    padding-bottom: 30rpx;
    width: 40rpx;
    height: 40rpx;
    padding-right: 14px;

}

