@import '../../base.scss';
.talks-item {
  background-color: #fff;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .title {
    font-size: 18px;
    display: block;
    line-height: 24px;
    color: $font-deep;
  }
  .oractor {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 14px;
    align-items: flex-start;
  }
  .voice-bar {
    border-radius: 0px 80px 80px 80px;
    width: 140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .voice-img {
    margin-left: 20px;
    width: 11px;
    height: 16px;
  }
  .voice-text {
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
    line-height: 18px;
  }
}


.footbar {
  font-size: 28rpx;
  text-align: center;
  padding: 50rpx;
  color: #ccc;
  text {
    vertical-align: middle;
  }
  image {
    width: 40rpx;
    height: 40rpx;
    margin-right: 20rpx;
  }

}