@import '../../base';
.blank {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
}

.avatar {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 34px;

}

.talks-title {
  font-size: 16px;
  line-height: 24px;
  color: $font-deep;
}

.talks-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.talks-glanced {
  background-color: #fff;
  display: inherit;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 1px;
}

.talks-oractor {
  font-size: 14px;
  margin-left: 10px;
  line-height: 20px;
  color: $font-light;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-top: 16px;

}