@import '../../components/record/record';
.banner {
    width: 750rpx;
    height: 315rpx;
}
.question {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}
.question .questioner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
}
.question .questioner .avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.question .questioner .name {
    font-size: 14px;
}
.question .title {
    margin-top: 18px;
    display: block;
    line-height: 24px;
    font-size: 16px;
}

.question .prompt {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    line-height: 20px;
}
.question .link {
   font-size: 14px;
   display: block;
   margin-top: 15px;
   text-decoration: underline;
}

.answer {
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.answer .container2 {
    display: flex;
    flex-direction: row;
}
.answer .container2 text {
    width: 374rpx;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.answer .container2 .divider1 {
    height: 50px;
    background-color: #ebebeb;
    width:2rpx;
}

.answer .divider2 {
    background-color: #ebebeb;
    width: 100%;
    height: 2rpx;
}
.answer .comment {
    width: 153px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #2fbd83;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.answer .prompt {
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
    margin-left: 20px;
    margin-right: 20px;
}