@import '../../components/item/talks_item';
.search-bar {
  width: 750rpx;
  height: 49px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;

  .container1 {
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ebebeb;
    flex: 1;
    height: 30px;
    border-radius: 5px;
  }

  .button {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    height: 30px;
    color: #fff;
    background-color: $base-green;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  input{
    line-height: 100%;
    height:100%;
    padding-left:10px;
    padding-right:10px;
  }
}

.search-list{
  display:flex;
  flex:1;
}
