@import 'base.scss';
page {
    background: $background-color;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: $font-normal;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.font-deep{
    color: #49546e;
}

.font-light{
    color: #9ba3b4;
}
