$font-normal: STHeiti, Microsoft YaHei, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$base-green: #2fbd83;
$font-deep: #49546e;
$font-light: #9ba3b4;
$background-color: #ebebeb;
$divider-color: #e8e8e8;